<div class="po-wrapper">
  <po-menu [p-collapsed]="true" [p-menus]="menus" p-logo="/assets/images/logo_minhasrotinas.png">
  </po-menu>

  <po-page-default>
    <font class="po-font-title">Minhas Rotinas</font>
    <div class="po-row"></div>
    <div class="po-row">
      <div class="po-md-1">
        <po-breadcrumb [p-items]="[{label:'Home',link:'/home'},
        {label:'Estoque e Almoxarifado',link:'/menuestoque'}
      ]"></po-breadcrumb>
      </div>
    </div>
    <po-divider></po-divider>
    <div id="divlogo" class="po-row">
      <div><img id="imgLogo" src="/assets/images/logo_thermic.png" alt=""></div>
    </div>

    <div id="divtecnologia" class="po-row">
      <p>Feito com tecnologia PO-UI</p>
    </div>
  </po-page-default>

</div>