#divlogo {
  justify-content: center;
}

#imgLogo {
  mix-blend-mode: multiply;
  width: 400px;
  align-content: center;
}


#divtecnologia {
  justify-content: center;
}

#idTitulo{
  margin: 0px;
}
