#div-image {
width: 1fr;
height: 100px;
display: flex;
margin: 0px;
padding: 0px;
justify-content: center;
background-color: #fcfcfc;

}

#imglogo {
  width: 100px;
  height: 1 fr;
}

#pagelogin {
  margin-top: 0 px;
}

